<% if @search_results %>
  <% unless @search_results.empty? %>
    <%= form_with url: new_booking_path, method: :get, action: :new do |f| %>
      <% @search_results.each do |result| %>
        <p>
          <%= f.radio_button :flight_id, result.id %>
          <%= f.label :flight_id, result.departure.strftime('%d/%m/%Y @ %H:%M') %>
        </p>
      <% end %>
          <%= f.hidden_field :passenger_num, :value => params[:search][:passenger_num] %>
          <p><%= f.submit 'Submit' %></p>
    <% end %>
  <% else %>
    <p>No results found</p>
  <% end %>
<% end %>
