<h1>Flight Search</h1>

<% if false %>

<%= form_with url:'/search', method: :get do |f| %>
  <label for="from_airport_id">From: </label>
  <select name="from_airport_id" id="airport_id">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>
  <label for="to_airport_id">To: </label>
  <select name="to_airport_id" id="airport_id">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.name %></option>
    <% end %>
  </select>
  <label for="passengers">Number of Passengers: </label>
  <select name="passengers" id="passengers">
    <%= (1..4).each do |number| %>
      <option value="<%= number %>"><%= number %></option>
    <% end %>
  </select>
  <label for="dates">Date: </label>
  <select name="dates" id="dates">
    <%= @flights.each do |flight| %>
      <option value="<%= flight.id %>"><%= flight.departure.flight_date_formatted %></option>
    <% end %>
  </select>
  <input type="submit" name="commit">
<% end %>

<% end %>

<%= form_with scope: :search, method: :get do |f| %>
  <%= f.label :from_airport, "From: " %>
  <%= f.select :from_airport, @airport_options %>
  <%= f.label :to_airport, 'To: ' %>
  <%= f.select :to_airport, @airport_options %>
  <%= f.label :date, 'Date: ' %>
  <%= f.date_field :date %>
  <%= f.label :passengers, 'Number of Passengers: ' %>
  <%= f.select(:passengers, @passenger_options) %>
  <%= f.submit 'Submit' %>
<% end %>

<hr>

<% if @search_results %>
  <% unless @search_results.empty? %>
    <%= form_with scope: :results do |f| %>
      <% @search_results.each do |result| %>
        <p>
          <%= f.radio_button :flight_choice, result %>
          <%= f.label :flight_choice, result.departure.strftime('%d/%m/%Y @ %H:%M') %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p>No results found</p>
  <% end %>
<% end %>
